<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657267396684-ntj13p370u8iltjg0f3g67krq1gr4140.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657267396684-ntj13p370u8iltjg0f3g67krq1gr4140</string>
	<key>API_KEY</key>
	<string>AIzaSyCsjFMIUNg3ZfkGhx4045X19C9d8DiJsRU</string>
	<key>GCM_SENDER_ID</key>
	<string>657267396684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>compass.app</string>
	<key>PROJECT_ID</key>
	<string>compassapp-40995</string>
	<key>STORAGE_BUCKET</key>
	<string>compassapp-40995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657267396684:ios:7652c9a28a83076e3424e9</string>
	<key>DATABASE_URL</key>
	<string>https://compassapp-40995-default-rtdb.firebaseio.com</string>
</dict>
</plist>